DATABASE_URL= "Here paste your db connection string"

PORT=8000
FRONTEND_URL = "Your fronedn url link"


JWT_SECRET_KEY="Your JWT secret"


//** Admin Data */
ADMIN_NAME = "Admin name"
ADMIN_EMAIL = "Admin Email"
ADMIN_PASSWORD = "Admin Password"